
modules = ["nodejs-20", "web"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["npm", "start"]

[workflows]
runButton = "Web Server"

[[workflows.workflow]]
name = "Web Server"
author = 43042775
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
